.login {
          width: 27em;
          height: 37em;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          position: relative;
          z-index: 99;
}

.container {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
          border-radius: 4px;
          position: relative;
          z-index: 99;
          width: 100%;
          height: 100%;
          padding: 17px 10px;
          margin-top: 17px;
}

.right-side {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 90%;
          background-color: #c56060;
          width: 100%;
          position: absolute;
          right: -34%;
          border-radius: 6px;
          z-index: 1;
          transition: all 400ms ease-in-out;
          cursor: pointer;
          box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 1.281);
          margin-top: 20px;
          
}

.right-side.right {
          right: -40%;
          align-items: flex-end;
}

.right-side.right:hover {
          right: -45%;
}

.right-side.left {
          right: 40%;
          align-items: flex-start;
}

.right-side.left:hover {
          right: 45%;
}

.text {
          font-size: 21px;
          font-weight: 500;
          color: #fff;
          margin-right: 3em;
          margin-left: 3em;
}
.miles{
          background-image: url('../assets//bg.jpg');
          height: 620px;
          background-size: cover;
}